.addbook{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    
}

form > input{
    width: 50%;
}

form > h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    width: 20%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

button:hover{
    color: #748185;
    cursor: pointer;
}