.app {
  background-color: #de9f8e;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.app__logo{
  display: flex;
  margin-bottom: 15px;
  max-height: 30%;
  width: 100vw;
  /* border: 1px solid red; */
}
.app__logo > img{
  max-height: 100%;
  max-width: 100%;
  flex: 1;
}
